* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  direction: rtl;
}

:root {
  --color: #dfb76e;
}
.header h1 {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.about-us {
  height: 80vh;
}
.img {
  position: relative;
  z-index: 9;
}
.img img {
  width: 100%;
}
.img::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--color);
  opacity: 0.5;
  left: -50px;
  bottom: -50px;
  z-index: -9;
}

.masions {
  position: relative;
  height: 80vh;
}
.place-holder {
  position: absolute;
  background-color: #efdbb7c7;
  top: 50px;

  max-width: 700px;
  max-height: 807px;
  color: #ffffff;
}
@media (max-width: 747px) {
  .place-holder {
    max-width: 516px;
  }
}
.jop {
  height: 80vh;
}
form input,
textarea {
  width: 60%;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #333;
  outline: none;
  border-radius: 6px;
  padding: 6px;
}
@media (max-width: 747px) {
  form input,
  textarea {
    width: 90%;
  }
}
.form h1 {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
form input:focus,
textarea:focus {
  outline: none;
}
h1 {
  color: #dfb76e;
}
